.general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;

  h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: #fbde44ff;
    text-shadow: 10px 10px 30px #f65058ff;
    text-align: center;
    font-style: italic;
  }
  span:hover {
    color: #f65058ff;
    cursor: pointer;
    transition: 0.8s;
  }

  .mesg {
    font-size: 25px;
    text-transform: capitalize;
    color: #fbde44ff;
    text-shadow: 10px 10px 30px #f65058ff;
    text-align: center;
    font-style: italic;
  }
  .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0 0 30px #fbde44ff;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    span {
      color: #fbde44ff;
      padding: 10px;
      margin: 10px;
    }
    .each-item {
      color: #f65058ff;
      padding: 10px;
      margin: 10px;
    }
  }

  .new-item {
    display: flex;
    margin: 10px;
    box-shadow: 0 0 30px #fbde44ff;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;

    .each-new-item {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-items: baseline;
      text-align: center;
      span {
        color: #fbde44ff;
        margin: 10px;
        padding: 5px;
      }
      input {
        box-shadow: 0 0 30px #f65058ff;
        border: 1px solid #fff;
        border-radius: 10px;
      }
    }
  }
  .general-modal {
    margin: 10px;
    box-shadow: 0 0 30px #fbde44ff;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    .each-modal {
      display: flex;
      justify-content: stretch;
      align-items: baseline;
      text-align: center;
      span {
        color: #fbde44ff;
        margin: 10px;
        padding: 5px;
      }
      input {
        box-shadow: 0 0 30px #f65058ff;
        border: 1px solid #fff;
        border-radius: 10px;
      }
    }
  }
  .general-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;

    .each-filter {
      flex-grow: 1;
      box-shadow: 0 0 20px #eee;
      border: 1px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      font-weight: bold;
      margin: 5px;
      padding: 5px;
      span {
        color: #c5178b;
      }
      select {
        background-color: #e6fdb0;
        margin-top: 5px;

        option {
          color: #c5178b;
          font-weight: bold;
        }
      }
      input {
        margin-top: 5px;
        background-color: #e6fdb0;
      }
    }
  }
  .statistic-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 10px;
    margin: 10px;

    span {
      flex-grow: 1;
      color: #e6fdb0;
      margin: 5px;
      i {
        margin: 5px;
        color: #ee2098;
      }
    }
  }
  .statistic-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 10px;
    margin: 10px;

    span {
      flex-shrink: 1;
      margin: 5px;
      color: #e6fdb0;
      i {
        color: #ee2098;
      }
    }
  }
  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    margin-top: -80px;
    transition: all 0.3s;
    overflow: hidden;
    span {
      color: #e6fdb0;
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      margin: 10px;
    }
  }
  button {
    background-image: linear-gradient(
      to right,
      #f65058ff 0%,
      #28334aff 51%,
      #fbde44ff 100%
    );
  }
  button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    transition: 0.8s;
    background-size: 200% auto;
    box-shadow: 0 0 10px #fbde44ff;
    border: 1px solid #fff;
    border-radius: 10px;
    display: block;
    color: #fbde44ff;
  }
  button:hover {
    background-position: right center; /* change the direction of the change here*/
    color: #f65058ff;
    text-decoration: none;
    cursor: pointer;
  }
}
